/*
 * Style - BOWL ADMIN PROJECT
 * AppSimples - www.appsimples.com.br
 * version 1.0
 *
 * RED -> #CC0000
 * GREEN -> #33CC33
 * WHITE GREEN -> #63ff63
 */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial;
    background-color: black;
    position: relative;
    text-decoration: none;
}

.login_background,
.list_video {
    height: 100%;
    width: 100%;
}

.login_background .login_logo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login_background .login_form {
    width: 50%;
    padding-top: 75px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login_form .form_input {
    height: auto;
    width: 75%;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form_input .invalid_input_login {
    color: red;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    text-align: center;
}

.form_input input[type="text"],
.form_input input[type="password"],
.form_input .button_submit {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form_input input[type="text"],
.form_input input[type="password"] {
    width: 75%;
    height: 20px;
    padding: 3px;
    outline-color: #80ff80;
    border: 2px solid #c8c8c8;
    border-radius: 3px;
    color: black;
}

.form_input input[type="password"] {
    margin-top: 20px;
}

.form_input .button_submit {
    width: 37.5%;
    height: 35px;
    padding: 7.5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    outline-style: none;
    background: white;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-stretch: expanded;
}

.form_input .button_submit:hover {
    /* background: linear-gradient(to bottom right, #33CC33, #80ff80);
    background: -webkit-linear-gradient(left top, #33CC33, #80ff80);
    background: -o-linear-gradient(bottom right, #33CC33, #80ff80);
    background: -moz-linear-gradient(bottom right, #33CC33, #80ff80);
    background: linear-gradient(to bottom right, #33CC33, #80ff80);
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
    -o-transition: background 200ms linear;
    -ms-transition: background 200ms linear;
    transition: background 200ms linear; */
    border: 1px solid #80ff80;
    background: black;
    color: white;
}

.header_main {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-stretch: expanded;
}

.header_main .arrow_logout {
    float: left;
    color: white;
    margin-top: 10px;
}

.header_main .label_logout {
    float: left;
    color: white;
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
}

.header_main .title_main {
    width: 175px;
    color: white;
    padding: 15px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #80ff80;
    border-radius: 10px;
}

.header_main .right_side {
    float: right;
}

.header_main .left_side {
    float: left;
}

.header_main .add_container {
    color: white;
    height: 40px;
    position: relative;
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
}

.header_main .add_container .plus_icon {
    color: #33CC33;
    float: left;
}

.header_main .add_container .plus_icon_text {
    color: #33CC33;
    margin-left: 5px;
    margin-top: 10px;
    float: left;
}

.list_video .list_header,
.list_video .list_items {
    width: 95%;
    clear: both;
    display: flex;
}

.list_video .list_header,
.list_video .list_items,
.hr_line {
    padding-left: 20px;
}

.list_video .list_header .grid_x1,
.list_video .list_items .grid_x1 {
    width: 8%;
    float: left;
    text-align: center;
}

.list_video .list_header .grid_x2,
.list_video .list_items .grid_x2 {
    width: 18%;
    float: left;
    text-align: left;
}

.list_video .list_header .grid_y1,
.list_video .list_items .grid_y1 {
    width: 10%;
    float: left;
    text-align: left;
}

.list_video .list_items .grid_support {
    padding-top: 12px;
}

.list_video .list_header .grid_button {
    width: 6%;
    float: left;
    text-align: center;
}

.list_video .list_items .icon_items {
    color: #33CC33;
}

.list_video .list_items .grid_items {
    margin-top: 10px;
    margin-left: 15px;
}

.list_items .title_header a {
    text-decoration: none;
}

.list_header .title_header .title_text {
    color: white;
    font-weight: bold;
    font-stretch: expanded;
}

.list_items .title_header .title_text {
    color: white;
    font-size: 13px;
}

.list_items .title_header .title_padding_descrp {
    padding-right: 10px;
}

.list_items .title_header .centralize {
    text-align: center;
}

.new_form_input {
    width: 50%;
    color: white;
    float: left;
    padding-left: 20px;
}

.new_form_input .arrow_logout {
    float: left;
    color: white;
    margin-top: 20px;
    font-size: 20px;
}

.new_form_input .label_logout {
    float: left;
    color: white;
    margin: 0;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: expanded;
}

.new_form_input .title_form {
    color: white;
    font-stretch: expanded;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
    clear: both;
}

.new_form_input .new_video_form {
    color: black;
    background: black;
    background: -webkit-radial-gradient(#1a1a1a, #0d0d0d, black);
    background: -o-radial-gradient(#1a1a1a, #0d0d0d, black);
    background: -moz-radial-gradient(#1a1a1a, #0d0d0d, black);
    background: radial-gradient(#1a1a1a, #0d0d0d, black);
    /* Standard syntax */
    float: left;
    border: none;
    padding: 10px;
    padding-top: 30px;
}

.new_form_input .new_video_form p {
    width: 100%;
    color: white;
    margin: 0;
    margin-bottom: 5px;
    float: left;
    font-weight: 500;
    font-stretch: expanded;
}

.new_form_input .new_video_form input[type="url"],
.new_form_input .new_video_form input[type="text"],
.new_form_input .new_video_form input[type="date"],
.new_form_input .new_video_form textarea,
.new_form_input .new_video_form select {
    width: 100%;
    margin-bottom: 15px;
    background: white;
    float: left;
    font-family: Arial;
    font-size: 14px;
    font-stretch: semi-expanded;
    outline-color: #33CC33;
    border-radius: 3px;
}

.new_form_input .new_video_form input[type="url"],
.new_form_input .new_video_form input[type="text"] {
    color: black;
    font-size: 15px;
}

.new_form_input .new_video_form textarea {
    resize: vertical;
    overflow: auto;
}

.new_form_input .new_video_form select,
.new_form_input .new_video_form select option {
    color: black;
}

.new_form_input .new_video_form input[type="submit"] {
    color: black;
    background: white;
    border: 1px solid white;
    border-radius: 8px;
    font-weight: bold;
    font-stretch: expanded;
    padding: 10px;
    float: right;
    outline-style: none;
}

.new_form_input .new_video_form input[type="submit"]:hover {
    color: white;
    background: black;
    border: 1px solid #80ff80;
}

.new_grid_form {
    width: 100%;
    padding: 10px;
    float: left;
    color: white;
}

.new_grid_form .arrow_logout {
    float: left;
    color: white;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 20px;
}

.new_grid_form .label_logout {
    float: left;
    color: white;
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: expanded;
}

.new_grid_form .list_categories {
    width: 50%;
    float: left;
}

.new_grid_form .list_categories .show_items {
    padding-left: 20px;
    padding-right: 20px;
}

.new_grid_form .form_input_category {
    width: 50%;
    float: right;
}

.new_grid_form .title_form {
    text-align: center;
    clear: both;
}

.list_categories .hr_line {
    padding: 0;
    margin: 0;
}

.new_grid_form .new_category_form {
    position: relative;
    margin-left: 20px;
}

.new_grid_form .new_category_form input[type="text"] {
    width: 70%;
    height: 17px;
    padding: 5px;
    border-radius: 5px;
    outline-color: #33CC33;
    color: black;
}

.new_grid_form .new_category_form input[type="submit"] {
    width: 20%;
    background: rgba(255, 255, 255, 0);
    border: 1px solid #33CC33;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7.5px;
    padding-top: 7.5px;
    outline-style: none;
    color: white;
    font-weight: bold;
    font-stretch: expanded;
}

.new_grid_form .new_category_form input[type="submit"]:hover {
    color: #33CC33;
    background: white;
}

.new_grid_form .label_category {
    float: left;
}

.new_grid_form .click_delete {
    float: right;
    margin-top: 10px;
    margin-right: 30px;
}

.new_grid_form .delete_icon {
    float: right;
    position: relative;
    color: white;
}

.new_grid_form .delete_icon:hover {
    color: #33CC33;
}

.hr_line {
    display: block;
    width: 95%;
    margin-left: 20px;
    border: 0;
    border-top: 1px solid #c8c8c8;
    clear: both;
}

@media only screen and (width: 768px) {
    .login_background .login_form {
        width: 75%;
        padding-top: 50px;
    }
    .login_background .login_logo {
        width: auto;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .login_form .form_input {
        width: 100%;
        margin-top: 50px;
    }
    .header_main .label_logout {
        font-size: 0;
    }
    .header_main .right_side {
        clear: both;
        float: left;
        left: 15%;
    }
    .form_input input[type="text"],
    .form_input input[type="password"] {
        width: 90%;
    }
}

@media only screen and (max-width: 736px) {
    .login_background .login_form {
        width: 75%;
        padding-top: 50px;
    }
    .login_background .login_logo {
        width: auto;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .login_form .form_input {
        width: 100%;
        margin-top: 50px;
    }
    .form_input input[type="text"],
    .form_input input[type="password"] {
        width: 90%;
    }
    .header_main .label_logout {
        font-size: 0;
    }
    .header_main .title_main {
        position: relative;
        left: 20%;
        margin: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .header_main .add_container {
        margin: 0;
        position: relative;
        left: 18%;
    }
    .header_main .right_side {
        clear: both;
        float: left;
        left: 26%;
    }
    .list_video .list_header,
    .list_video .list_items,
    .hr_line {
        width: 90%;
    }
    .new_form_input {
        width: 100%;
        padding: 0;
    }
    .new_form_input .new_video_form {
        margin: 5px;
    }
}

@media only screen and (max-width: 360px) {
    .login_background .login_logo {
        height: 250px;
    }
    .new_form_input .title_form {
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 0;
    }
}

@media only screen and (max-width: 320px) and (max-height: 500px) {
    .login_background .login_logo {
        height: 200px;
    }
}
