<!DOCTYPE html>
<html ng-app="BowlApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bowl - ADMIN</title>
    <!-- CSS3 link -->
    <link rel="stylesheet" type="text/css" href="assets/css/bowl.css">
    <!-- JS and AngularJS -->
    <script src="assets/js/lib/angular/angular.min.js"></script>
    <script src="assets/js/lib/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="assets/js/lib/angular-route/angular-route.js"></script>
    <script src="assets/js/lib/satellizer.js"></script>
    <script src="assets/js/lib/angular-s3.js"></script>
    <script src="assets/js/lib/angular-md5.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/directives.js"></script>
    <script src="assets/js/controllers.js"></script>
    <script src="assets/js/services.js"></script>
</head>

<body>
    <section class="login_background" ng-controller="LoginController as login">
        <main class="login_form">
            <img src="assets/images/bowl_video.png" alt="" class="login_logo">
            <form accept-charset="utf-8" class="form_input">
                <input type="text" placeholder="Username" ng-model="login.username" required>
                <input type="password" placeholder="password" ng-model="login.password" required>
                <p class="invalid_input_login" ng-show="invalidLogin">The username or password you entered is incorrect.</p>
                <input type="submit" value="LOGIN" class="button_submit" ng-click="getUser(login)">
            </form>
        </main>
    </section>
</body>

</html>
