<!DOCTYPE html>
<html ng-app="BowlApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bowl - ADMIN</title>
    <!-- CSS3 link -->
    <link rel="stylesheet" type="text/css" href="assets/css/bowl.css">
    <link rel="stylesheet" type="text/css" href="assets/js/fontawesome/css/font-awesome.min.css">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <!-- JS and AngularJS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script src="assets/js/lib/angular/angular.min.js"></script>
    <script src="assets/js/lib/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="assets/js/lib/angular-route/angular-route.js"></script>
    <script src="assets/js/lib/satellizer.js"></script>
    <script src="assets/js/lib/angular-s3.js"></script>
    <script src="assets/js/lib/angular-md5.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/directives.js"></script>
    <script src="assets/js/controllers.js"></script>
    <script src="assets/js/services.js"></script>
</head>

<body>
    <main class="new_form_input" ng-controller="NovoVideoController as nvideo">
        <a href="" ng-click="back()">
            <i class="fa fa-arrow-left arrow_logout" aria-hidden="true"></i>
            <p class="label_logout">Back</p>
        </a>
        <h1 class="title_form">Video Bowl</h1>
        <form accept-charset="utf-8" class="new_video_form" id="formWithNoSupport">
            <p>Video code: </p>
            <input type="text" ng-model="video.videoUrl" required>
            <p>Source: </p>
            <select ng-model="video.source" ng-options="list.value as list.nome for list in source" selected="editarVideo.source || video.source" required>
            </select>
            <p>Title: </p>
            <input type="text" ng-model="video.nome" required>
            <p>Description: </p>
            <textarea ng-model="video.descricao" required></textarea>
            <p>Categories - Press Ctrl to select more than one category: </p>
            <select ng-model="video.categories" ng-options="list._id as list.name for list in categories" selected="editarVideo.categories" multiple required>
            </select>
            <p>Date to post</p>
            <input type="date" ng-model="video.postDate" id="datepicker" name="video.postDate" datepicker required>
            <input type="submit" value="ADICIONAR" ng-click="addVideo(video)">
        </form>
    </main>
    <script type="text/javascript">
    var datefield = document.createElement("input")
    datefield.setAttribute("type", "date")
    </script>
    <script>
    if (datefield.type != "date") { //if browser doesn't support input type="date", initialize date picker widget:
        jQuery(function($) { //on document.ready
            $('#formWithNoSupport').val(true);
            $('#datepicker').datepicker();
        })
    }
    </script>
</body>

</html>
